<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jstark.gitu">

    <uses-permission android:name="android.permission.INTERNET" />

    <permission
        android:name="com.jstark.gitu.READ_DATABASE"
        android:protectionLevel="normal" />
    <permission
        android:name="com.jstark.gitu.WRITE_DATABASE"
        android:protectionLevel="normal" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <provider
            android:name=".provider.UserProvider"
            android:authorities="com.jstark.gitu"
            android:enabled="true"
            android:exported="true"
            android:readPermission="com.jstark.gitu.READ_DATABASE"
            android:writePermission="com.jstark.gitu.WRITE_DATABASE" />

        <receiver
            android:name=".broadcast.AlarmReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".ui.SplashScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNAB">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.SettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNAB" />
        <activity
            android:name=".ui.FavoriteActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNAB" />
        <activity
            android:name=".ui.DetailGitUserActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNAB" />
        <activity
            android:name=".ui.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNAB" />
        <activity
            android:name=".ui.ReminderActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNAB" />
    </application>

</manifest>